<extend name="Public/base" />
<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>行为列表</h2>
	</div>

    <div >
      <!--   <button class="btn" target-form="ids" onclick="tosubmit1();">取 消 冻 结</button> -->
        <button id="dgb" url="{:U('aaa')}" class="btn">删 除</button>
    </div>

</block>
<block name="script">
<script type="text/javascript">
$(function(){
	$("#dgb").click(function(){
		$.post($(this).attr('url'),{},function(data){
			alert(data);
		});
		
	})
})
</script>
</block>