<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta charset="UTF-8">
    <title>按钮库</title>
    <!-- start: MAIN CSS -->
    <link href="../res/bootstrap/bootstrap-3.3.0/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../res/component/css/component.css" rel="stylesheet" type="text/css" />
    <!-- end: MAIN CSS -->
</head>
<body>
<div class="background_Frame_div_bg" style=""></div>
<!-- 两种加载效果二选一，在页面底部javascript设置 -->
<!-- 进入页面加载 动态图效果 -->
<div id="loading_layer" style="display:none;">
    <img src="../res/component/img/loading.gif" id="loading_img" alt=""/>
</div>
<!-- 主面板 -->
<div class="container-fluid">
    <div class="row">
        <div class="component_title_div" style="background-color: #1fbba6;">
            <div class="component_title_tit">
                <span >按钮库</span>
            </div>
            <div class="component_title_con">
                <span >通过按钮组容器把一组按钮放在同一行里。通过与按钮插件联合使用，可以设置为单选框或多选框的样式和行为。</span>
                <br /><span >注意:实际环境中如果不适合,大小间距可定制.</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="component_content_div">
            <div class="component_button_frame">
                <div class="component_button_cont">
                    <div class="component_button_style1">
                        <table>
                            <thead>
                                <tr>
                                    <td>
                                        <span>风格1-bootstrap样式</span>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="button_style_div">
                                            <div class="button_style_div1">
                                                <a href="javascript:;"  class="btn btn-success">
                                                    <span>确认</span><span class="glyphicon glyphicon-ok"></span>
                                                </a>
                                            </div>
                                            <div class="button_style_div2">
                                                <span>确认按钮带图标</span>
                                            </div>
                                            <div class="button_style_option">
                                                <a href="javascript:;" class="look_button_code">查看源码</a>
                                                <textarea class="button_style_code">
                                                    <a href="javascript:;"  class="btn btn-success">
                                                        <span>确认</span><span class="glyphicon glyphicon-ok"></span>
                                                    </a>
                                                </textarea>
                                                <a href="javascript:;" class="cope_button_code">复制源码</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="button_style_div">
                                            <div class="button_style_div1">
                                                <a href="javascript:;"  class="btn btn-success">
                                                    <span>确认</span>
                                                </a>
                                            </div>
                                            <div class="button_style_div2">
                                                <span>确认按钮不带图标</span>
                                            </div>
                                            <div class="button_style_option">
                                                <a href="javascript:;" class="look_button_code">查看源码</a>
                                                <textarea class="button_style_code">
                                                    <a href="javascript:;"  class="btn btn-success">
                                                        <span>确认</span>
                                                    </a>
                                                </textarea>
                                                <a href="javascript:;" class="cope_button_code">复制源码</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="button_style_div">
                                            <div class="button_style_div1">
                                                <a href="javascript:;"  class="btn btn-danger">
                                                    <span>取消</span><span class="glyphicon glyphicon-remove"></span>
                                                </a>
                                            </div>
                                            <div class="button_style_div2">
                                                <span>取消按钮带图标</span>
                                            </div>
                                            <div class="button_style_option">
                                                <a href="javascript:;" class="look_button_code">查看源码</a>
                                                <textarea class="button_style_code">
                                                    <a href="javascript:;"  class="btn btn-danger">
                                                        <span>取消</span><span class="glyphicon glyphicon-remove"></span>
                                                    </a>
                                                </textarea>
                                                <a href="javascript:;" class="cope_button_code">复制源码</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="button_style_div">
                                            <div class="button_style_div1">
                                                <a href="javascript:;"  class="btn btn-danger">
                                                    <span>取消</span>
                                                </a>
                                            </div>
                                            <div class="button_style_div2">
                                                <span>取消按钮不带图标</span>
                                            </div>
                                            <div class="button_style_option">
                                                <a href="javascript:;" class="look_button_code">查看源码</a>
                                                <textarea class="button_style_code">
                                                    <a href="javascript:;"  class="btn btn-danger">
                                                        <span>取消</span>
                                                    </a>
                                                </textarea>
                                                <a href="javascript:;" class="cope_button_code">复制源码</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="button_style_div">
                                            <div class="button_style_div1">
                                                <a href="javascript:;"  class="btn btn-warning">
                                                    <span>保存</span><span class="glyphicon glyphicon-upload"></span>
                                                </a>
                                            </div>
                                            <div class="button_style_div2">
                                                <span>保存按钮带图标</span>
                                            </div>
                                            <div class="button_style_option">
                                                <a href="javascript:;" class="look_button_code">查看源码</a>
                                                <textarea class="button_style_code">
                                                    <a href="javascript:;"  class="btn btn-warning">
                                                        <span>保存</span><span class="glyphicon glyphicon-upload"></span>
                                                    </a>
                                                </textarea>
                                                <a href="javascript:;" class="cope_button_code">复制源码</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="button_style_div">
                                            <div class="button_style_div1">
                                                <a href="javascript:;" class="btn btn-warning">
                                                    <span>保存</span>
                                                </a>
                                            </div>
                                            <div class="button_style_div2">
                                                <span>保存按钮不带图标</span>
                                            </div>
                                            <div class="button_style_option">
                                                <a href="javascript:;" class="look_button_code">查看源码</a>
                                                <textarea class="button_style_code">
                                                    <a href="javascript:;" class="btn btn-warning">
                                                        <span>保存</span>
                                                    </a>
                                                </textarea>
                                                <a href="javascript:;" class="cope_button_code">复制源码</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="button_style_div">
                                            <div class="button_style_div1">
                                                <button class="btn btn-primary" type="button">
                                                    信息 <span class="badge">4</span>
                                                </button>
                                            </div>
                                            <div class="button_style_div2">
                                                <span>信息按钮带徽章</span>
                                            </div>
                                            <div class="button_style_option">
                                                <a href="javascript:;" class="look_button_code">查看源码</a>
                                                <textarea class="button_style_code">
                                                    <button class="btn btn-primary" type="button">
                                                        信息 <span class="badge">4</span>
                                                    </button>
                                                </textarea>
                                                <a href="javascript:;" class="cope_button_code">复制源码</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="component_button_style1">
                        <table>
                            <thead>
                            <tr>
                                <td>
                                    <span>风格2-公司设计的样式</span>
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <div class="button_style_div">
                                        <div class="button_style_div1">
                                            <a href="javascript:;"  class="component_btn btn_srue_add">
                                                <span>确认添加</span>
                                            </a>
                                        </div>
                                        <div class="button_style_div2">
                                            <span>确认按钮</span>
                                        </div>
                                        <div class="button_style_option">
                                            <a href="javascript:;" class="look_button_code">查看源码</a>
                                            <textarea class="button_style_code">
                                                <a href="javascript:;"  class="component_btn btn_srue_add">
                                                    <span>确认添加</span>
                                                </a>
                                            </textarea>
                                            <a href="javascript:;" class="cope_button_code">复制源码</a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="button_style_div">
                                        <div class="button_style_div1">
                                            <a href="javascript:;"  class="component_btn btn_cancel_add">
                                                <span>取消添加</span>
                                            </a>
                                        </div>
                                        <div class="button_style_div2">
                                            <span>取消按钮</span>
                                        </div>
                                        <div class="button_style_option">
                                            <a href="javascript:;" class="look_button_code">查看源码</a>
                                            <textarea class="button_style_code">
                                                <a href="javascript:;"  class="component_btn btn_cancel_add">
                                                    <span>取消添加</span>
                                                </a>
                                            </textarea>
                                            <a href="javascript:;" class="cope_button_code">复制源码</a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="button_style_div">
                                        <div class="button_style_div1">
                                            <a href="javascript:;"  class="component_btn btn_new_role">
                                                <span>新手上路</span>
                                            </a>
                                        </div>
                                        <div class="button_style_div2">
                                            <span>新手上路按钮</span>
                                        </div>
                                        <div class="button_style_option">
                                            <a href="javascript:;" class="look_button_code">查看源码</a>
                                            <textarea class="button_style_code">
                                                <a href="javascript:;"  class="component_btn btn_new_role">
                                                    <span>新手上路</span>
                                                </a>
                                            </textarea>
                                            <a href="javascript:;" class="cope_button_code">复制源码</a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="button_style_div">
                                        <div class="button_style_div1">
                                            <a href="javascript:;"  class="component_btn btn_upload_img">
                                                <span>上传图片</span>
                                            </a>
                                        </div>
                                        <div class="button_style_div2">
                                            <span>上传图片按钮</span>
                                        </div>
                                        <div class="button_style_option">
                                            <a href="javascript:;" class="look_button_code">查看源码</a>
                                            <textarea class="button_style_code">
                                                <a href="javascript:;"  class="component_btn btn_upload_img">
                                                    <span>上传图片</span>
                                                </a>
                                            </textarea>
                                            <a href="javascript:;" class="cope_button_code">复制源码</a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="button_style_div">
                                        <div class="button_style_div1">
                                            <a href="javascript:;"  class="component_btn btn_update_pw">
                                                <span>修改密码</span>
                                            </a>
                                        </div>
                                        <div class="button_style_div2">
                                            <span>修改密码按钮</span>
                                        </div>
                                        <div class="button_style_option">
                                            <a href="javascript:;" class="look_button_code">查看源码</a>
                                            <textarea class="button_style_code">
                                                <a href="javascript:;"  class="component_btn btn_update_pw">
                                                    <span>修改密码</span>
                                                </a>
                                            </textarea>
                                            <a href="javascript:;" class="cope_button_code">复制源码</a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="button_style_div">
                                        <div class="button_style_div1">
                                            <a href="javascript:;"  class="component_btn2 btn_close_visited">
                                                <span>关闭</span>
                                            </a>
                                        </div>
                                        <div class="button_style_div2">
                                            <span>关闭按钮-无圆角-被选中后的状态</span>
                                        </div>
                                        <div class="button_style_option">
                                            <a href="javascript:;" class="look_button_code">查看源码</a>
                                            <textarea class="button_style_code">
                                                <a href="javascript:;"  class="component_btn2 btn_close_visited">
                                                    <span>关闭</span>
                                                </a>
                                            </textarea>
                                            <a href="javascript:;" class="cope_button_code">复制源码</a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="button_style_div">
                                        <div class="button_style_div1">
                                            <a href="javascript:;"  class="component_btn2 btn_close">
                                                <span>开启</span>
                                            </a>
                                        </div>
                                        <div class="button_style_div2">
                                            <span>开启按钮-无圆角-状态型链接</span>
                                        </div>
                                        <div class="button_style_option">
                                            <a href="javascript:;" class="look_button_code">查看源码</a>
                                            <textarea class="button_style_code">
                                                <a href="javascript:;"  class="component_btn btn_close">
                                                    <span>关闭</span>
                                                </a>
                                            </textarea>
                                            <a href="javascript:;" class="cope_button_code">复制源码</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="button_style_div">
                                        <div class="button_style_div1">
                                            <a href="javascript:;"  class="component_btn3 btn_open">
                                                <span>开启</span>
                                            </a>
                                        </div>
                                        <div class="button_style_div2">
                                            <span>开启按钮</span>
                                        </div>
                                        <div class="button_style_option">
                                            <a href="javascript:;" class="look_button_code">查看源码</a>
                                            <textarea class="button_style_code">
                                                <a href="javascript:;"  class="component_btn3 btn_open">
                                                    <span>开启</span>
                                                </a>
                                            </textarea>
                                            <a href="javascript:;" class="cope_button_code">复制源码</a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="button_style_div">
                                        <div class="button_style_div1">
                                            <a href="javascript:;"  class="component_btn3 btn_save">
                                                <span>保存</span>
                                            </a>
                                        </div>
                                        <div class="button_style_div2">
                                            <span>保存按钮</span>
                                        </div>
                                        <div class="button_style_option">
                                            <a href="javascript:;" class="look_button_code">查看源码</a>
                                            <textarea class="button_style_code">
                                                <a href="javascript:;"  class="component_btn3 btn_save">
                                                    <span>保存</span>
                                                </a>
                                            </textarea>
                                            <a href="javascript:;" class="cope_button_code">复制源码</a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="button_style_div">
                                        <div class="button_style_div1">
                                            <a href="javascript:;"  class="component_btn4 btn_icon_badge_orange">
                                                <span>4</span>
                                            </a>
                                        </div>
                                        <div class="button_style_div2">
                                            <span>徽章型-橙色按钮-不支持IE-可定制颜色</span>
                                        </div>
                                        <div class="button_style_option">
                                            <a href="javascript:;" class="look_button_code">查看源码</a>
                                            <textarea class="button_style_code">
                                                <a href="javascript:;"  class="component_btn4 btn_icon_badge_orange">
                                                    <span>4</span>
                                                </a>
                                            </textarea>
                                            <a href="javascript:;" class="cope_button_code">复制源码</a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="button_style_div">
                                        <div class="button_style_div1">
                                            <a href="javascript:;"  class="component_btn4 btn_icon_badge_blue">
                                                <span>0</span>
                                            </a>
                                        </div>
                                        <div class="button_style_div2">
                                            <span>徽章型-蓝色按钮-不支持IE-可定制颜色</span>
                                        </div>
                                        <div class="button_style_option">
                                            <a href="javascript:;" class="look_button_code">查看源码</a>
                                            <textarea class="button_style_code">
                                                <a href="javascript:;"  class="component_btn4 btn_icon_badge_blue">
                                                    <span>0</span>
                                                </a>
                                            </textarea>
                                            <a href="javascript:;" class="cope_button_code">复制源码</a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="button_style_div">
                                        <div class="button_style_div1">
                                            <a href="javascript:;"  class="component_btn4 btn_icon_badge_orange2">
                                                <span>8</span>
                                            </a>
                                        </div>
                                        <div class="button_style_div2">
                                            <span>徽章型-橙色按钮-支持IE-不可定制颜色</span>
                                        </div>
                                        <div class="button_style_option">
                                            <a href="javascript:;" class="look_button_code">查看源码</a>
                                            <textarea class="button_style_code">
                                                <a href="javascript:;"  class="component_btn4 btn_icon_badge_orange2">
                                                    <span>0</span>
                                                </a>
                                            </textarea>
                                            <a href="javascript:;" class="cope_button_code">复制源码</a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="button_style_div">
                                        <div class="button_style_div1">
                                            <a href="javascript:;"  class="component_btn4 btn_icon_badge_blue2">
                                                <span>2</span>
                                            </a>
                                        </div>
                                        <div class="button_style_div2">
                                            <span>徽章型-蓝色按钮-支持IE-不可定制颜色</span>
                                        </div>
                                        <div class="button_style_option">
                                            <a href="javascript:;" class="look_button_code">查看源码</a>
                                            <textarea class="button_style_code">
                                                <a href="javascript:;"  class="component_btn4 btn_icon_badge_blue2">
                                                    <span>0</span>
                                                </a>
                                            </textarea>
                                            <a href="javascript:;" class="cope_button_code">复制源码</a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="button_style_div">
                                        <div class="button_style_div1">
                                            <a href="javascript:;" class="component_btn5 btn_go_top">
                                            </a>
                                        </div>
                                        <div class="button_style_div2">
                                            <span>返回顶部</span>
                                        </div>
                                        <div class="button_style_option">
                                            <a href="javascript:;" class="look_button_code">查看源码</a>
                                            <textarea class="button_style_code">
                                                <a href="javascript:;" class="component_btn5 btn_go_top">
                                                </a>
                                            </textarea>
                                            <a href="javascript:;" class="cope_button_code">复制源码</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="button_style_div">
                                        <div class="button_style_div1">
                                            <a href="javascript:;"  class="component_btn5 btn_edit">
                                            </a>
                                        </div>
                                        <div class="button_style_div2">
                                            <span>编辑按钮</span>
                                        </div>
                                        <div class="button_style_option">
                                            <a href="javascript:;" class="look_button_code">查看源码</a>
                                            <textarea class="button_style_code">
                                                <a href="javascript:;"  class="component_btn5 btn_edit">
                                                </a>
                                            </textarea>
                                            <a href="javascript:;" class="cope_button_code">复制源码</a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="button_style_div">
                                        <div class="button_style_div1">
                                            <a href="javascript:;"  class="component_btn5 btn_del">
                                            </a>
                                        </div>
                                        <div class="button_style_div2">
                                            <span>删除按钮</span>
                                        </div>
                                        <div class="button_style_option">
                                            <a href="javascript:;" class="look_button_code">查看源码</a>
                                            <textarea class="button_style_code">
                                                <a href="javascript:;"  class="component_btn5 btn_del">
                                                </a>
                                            </textarea>
                                            <a href="javascript:;" class="cope_button_code">复制源码</a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="button_style_div">
                                        <div class="button_style_div1">
                                            <a href="javascript:;"  class="btn_return">
                                                <span>返回</span>
                                            </a>
                                        </div>
                                        <div class="button_style_div2">
                                            <span>返回按钮</span>
                                        </div>
                                        <div class="button_style_option">
                                            <a href="javascript:;" class="look_button_code">查看源码</a>
                                            <textarea class="button_style_code">
                                                <a href="javascript:;"  class="btn_return">
                                                    <span>返回</span>
                                                </a>
                                            </textarea>
                                            <a href="javascript:;" class="cope_button_code">复制源码</a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="button_style_div">
                                        <div class="button_style_div1">
                                            <a href="javascript:;"  class="btn_return_2">
                                                <span>返回</span>
                                            </a>
                                        </div>
                                        <div class="button_style_div2">
                                            <span>返回按钮</span>
                                        </div>
                                        <div class="button_style_option">
                                            <a href="javascript:;" class="look_button_code">查看源码</a>
                                            <textarea class="button_style_code">
                                                <a href="javascript:;"  class="btn_return_2">
                                                    <span>返回</span>
                                                </a>
                                            </textarea>
                                            <a href="javascript:;" class="cope_button_code">复制源码</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade modal_Frame" id="codeModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog" style="z-index: 1041;width: 500px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        U百通-按钮库源码
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="">
                        <textarea class="show_button_code">

                        </textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <div style="display: none;">
        <input type="hidden" value="模态框" data-toggle="modal" id="model_btn"
               data-target="#codeModal" class="btn" />
    </div>
</div>

<!-- start: MAIN JAVASCRIPTS -->

<!--[if lt IE 9]>
<script src="res/basic/js/excanvas.min.js"></script>
<![endif]-->

<script type="text/javascript" src="../res/basic/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../res/bootstrap/bootstrap-3.3.0/js/bootstrap.js"></script>
<script type="text/javascript" src="../res/component/js/component.js" ></script>
<script type="text/javascript" >
    startLoading();
    $(function(){
        $(".cope_button_code").click(function(){
           alert("暂时不支持点击复制!");
        });
        $(".look_button_code").click(function(){
            var code_html=$(this).next("textarea").html();
            $(".show_button_code").html(code_html);
            $("#model_btn").click();
        });
    });
</script>
<!-- end: MAIN JAVASCRIPTS -->

</body>
</html>