<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta charset="UTF-8">
    <title>加载页</title>
    <!-- start: MAIN CSS -->
    <link href="../res/bootstrap/bootstrap-3.3.0/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../res/component/css/component.css" rel="stylesheet" type="text/css" />
    <!-- end: MAIN CSS -->
</head>
<body>
<div class="background_Frame_div_bg" style=""></div>
<!-- 两种加载效果二选一，在页面底部javascript设置 -->
<!-- 进入页面加载 动态图效果 -->
<div id="loading_layer" style="display:none;">
    <img src="../res/component/img/loading.gif" id="loading_img" alt=""/>
</div>
<div class="row">
    <div class="component_title_div" style="background-color:#00AAFF" >
        <div class="component_title_tit">
            <span >过渡效果系列</span>
        </div>
        <div class="component_title_con">
            <span style="color: #fff;">过渡效果系列等.项目中实际应用时，可以将此网页源代码封装为一个公用的动态页(jsp),作为iframe嵌于外层的页面， 内页中使用时候调用资源文件中的res\component\js\load.js
</span>
            <br /><span ></span>
        </div>
    </div>
</div>

<!-- start: MAIN JAVASCRIPTS -->

<!--[if lt IE 9]>
<script src="res/basic/js/excanvas.min.js"></script>
<![endif]-->

<script type="text/javascript" src="../res/basic/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../res/bootstrap/bootstrap-3.3.0/js/bootstrap.js"></script>
<script type="text/javascript" src="../res/basic/js/png.js" ></script>
<script type="text/javascript" src="../res/component/js/component.js" ></script>
<script type="text/javascript">
    startLoading();
</script>
<!-- end: MAIN JAVASCRIPTS -->
</body>
</html>