<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta charset="UTF-8">
    <title>模态框系列</title>
    <!-- start: MAIN CSS -->
    <link href="../res/bootstrap/bootstrap-3.3.0/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../res/component/css/component.css" rel="stylesheet" type="text/css" />
    <!-- end: MAIN CSS -->
</head>
<body>
<div class="background_Frame_div_bg" style=""></div>
<!-- 两种加载效果二选一，在页面底部javascript设置 -->
<!-- 进入页面加载 动态图效果 -->
<div id="loading_layer" style="display:none;">
    <img src="../res/component/img/loading.gif" id="loading_img" alt=""/>
</div>

<!--预览弹出层-->
<div class="previewBG" id="previewBG_div" style="display: none;position:fixed;"></div>
<div class="preview" style="width: 540px;display: none;">
    <div id="template_view">
        <table >
            <tr>
                <td>汽车品牌</td>
                <td>汽车型号</td>
                <td>排量数</td>
            </tr>
            <tr>
                <td>奥迪</td>
                <td>不限</td>
                <td>1.0L</td>
            </tr>
            <tr>
                <td>奥迪</td>
                <td>A4</td>
                <td>2.0L</td>
            </tr>
            <tr>
                <td>奥迪</td>
                <td>A5</td>
                <td>2.0L</td>
            </tr>
            <tr>
                <td>奥迪</td>
                <td>A6</td>
                <td>2.5L</td>
            </tr>
        </table>
    </div>
    <div  style="display: block;margin-top: 20px;">
        <a href="res/webSeller/document/qipeiCarDisplacementTemplate.xls" class="component_btn3 btn_open">下载模版</a>
        <a href="javascript:;" class="component_btn3 btn_save" onclick="closeShow();">关闭</a>
    </div>
</div>
<!--预览弹出层-end-->

<!-- 主面板 -->
<div class="container-fluid">
    <div class="row">
        <div class="component_title_div" style="background-color:#000" >
            <div class="component_title_tit">
                <span >模态框系列</span>
            </div>
            <div class="component_title_con">
                <span style="color: #fff;">模态框系列,包含退出登录,修改密码等.产生跨域问题时,请在浏览器快捷方式里 在“目标(T):” 里加 --disable-web-security
注意：前面加空格</span>
                <br /><span ></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="component_content_div">
            <div class="component_select_frame">
                <div class="component_select_cont">
                    <div class="component_select_style1">
                        <div class="component_select_title" style="background-color:#000; ">
                            <span style="color: #fff;">模态框-系列</span>
                        </div>
                        <ul class="component_select_ul">
                            <li class="component_select_li">
                                <div class="select_div_area" style="padding: 38px 40px ;">
                                    <a href="javascript:;"  class="component_btn3 btn_save modal_btn">
                                        <span>点击我</span>
                                    </a>
                                </div>
                                <div class="select_div_text">
                                    <span>模态框-风格1</span>
                                </div>
                                <div class="select_div_option">
                                    <a href="javascript:;" class="look_select_code">查看源码</a>
                                    <textarea class="select_style_code">
                                        <!-- 模态框（Modal） -->
                                        <div class="modal fade modal_Frame" id="exitUser" tabindex="-1" role="dialog"
                                             aria-labelledby="myModalLabel" aria-hidden="true" >
                                            <div class="modal-dialog" style="z-index: 1041;width: 500px;">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close"
                                                                data-dismiss="modal" aria-hidden="true">
                                                            &times;
                                                        </button>
                                                        <h4 class="modal-title" id="myModalLabel">
                                                            U百通-友情提示
                                                        </h4>
                                                        <div style="clear: both"></div>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="a-exit">
                                                            <span style="font-size: 17px;" >你确认要退出吗?</span><br/>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default"
                                                                data-dismiss="modal">关闭
                                                        </button>
                                                        <button type="button" class="btn btn-primary exitUser_btn_sure">
                                                            确认
                                                        </button>
                                                    </div>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal -->
                                        </div>
                                    </textarea>
                                    <a href="javascript:;" class="cope_select_code">复制源码</a>
                                </div>
                            </li>
                            <li class="component_select_li">
                                <div class="select_div_area" style="padding: 38px 40px ;">
                                    <a href="javascript:;"  class="component_btn3 btn_save confirm_btn">
                                        <span>点击我</span>
                                    </a>
                                </div>
                                <div class="select_div_text">
                                    <span>确认框-风格1</span>
                                </div>
                                <div class="select_div_option">
                                    <a href="javascript:;" class="look_select_code">查看源码</a>
                                    <textarea class="select_style_code">
                                        //确认框弹出层
                                        $(".confirm_btn").click(function(){
                                        componentFunction.confirmFrame('删除吗?',function(){alert('2');});
                                        });
                                    </textarea>
                                    <a href="javascript:;" class="cope_select_code">复制源码</a>
                                </div>
                            </li>
                            <li class="component_select_li">
                                <div class="select_div_area" style="padding: 38px 40px ;">
                                    <a href="javascript:;"  class="component_btn3 btn_save alert_btn">
                                        <span>点击我</span>
                                    </a>
                                </div>
                                <div class="select_div_text">
                                    <span>提示框-风格1</span>
                                </div>
                                <div class="select_div_option">
                                    <a href="javascript:;" class="look_select_code">查看源码</a>
                                    <textarea class="select_style_code">
                                        //提示框弹出层
                                        $(".alert_btn").click(function(){
                                        componentFunction.alertFrame('置顶成功!',function(){alert('2');});
                                        });
                                    </textarea>
                                    <a href="javascript:;" class="cope_select_code">复制源码</a>
                                </div>
                            </li>
                            <li class="component_select_li">
                                <div class="select_div_area" style="padding: 38px 40px ;">
                                    <a href="javascript:;"  class="component_btn3 btn_save masterplate_btn">
                                        <span>点击我</span>
                                    </a>
                                </div>
                                <div class="select_div_text">
                                    <span>弹出层-风格1</span>
                                </div>
                                <div class="select_div_option">
                                    <a href="javascript:;" class="look_select_code">查看源码</a>
                                    <textarea class="select_style_code">
                                        $(".masterplate_btn").click(function(){
                                        showMasterplate();
                                        });
                                    </textarea>
                                    <a href="javascript:;" class="cope_select_code">复制源码</a>
                                </div>
                            </li>
                        </ul>
                        <div class="div_clear_float"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade modal_Frame" id="exitUser2" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog" style="z-index: 1041;width: 500px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel2">
                        U百通-友情提示
                    </h4>
                    <div style="clear: both"></div>
                </div>
                <div class="modal-body">
                    <div class="a-exit">
                        <span style="font-size: 17px;" >你确认要退出吗?</span><br/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary exitUser_btn_sure">
                        确认
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade modal_Frame" id="codeModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog" style="z-index: 1041;width: 500px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel3">
                        U百通-下拉框库源码
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="">
                        <textarea class="show_button_code">
                        </textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <div style="display: none;">
        <input type="hidden" value="模态框" data-toggle="modal" id="model_btn"
               data-target="#codeModal" class="btn" />
    </div>
    <div style="display: none;">
        <input type="hidden" value="模态框" data-toggle="modal" id="model_btn2"
               data-target="#exitUser2" class="btn" />
    </div>
</div>
<!-- start: MAIN JAVASCRIPTS -->

<!--[if lt IE 9]>
<script src="res/basic/js/excanvas.min.js"></script>
<![endif]-->

<script type="text/javascript" src="../res/basic/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../res/bootstrap/bootstrap-3.3.0/js/bootstrap.js"></script>
<script type="text/javascript" src="../res/basic/js/png.js" ></script>
<script type="text/javascript" src="../res/component/js/component.js" ></script>
<script type="text/javascript" >
    startLoading();
    $(function(){
        $(".cope_select_code").click(function(){
            alert("暂时不支持点击复制!");
        });
        $(".look_select_code").click(function(){
            var code_html=$(this).next("textarea").html();
            $(".show_button_code").html(code_html);
            $("#model_btn").click();
        });
        $(".select_check_click").on("click",function(){
            var input_ele=$(".input_check");
            componentFunction.showRemindInputF(input_ele,"提示");
        });
        $(".modal_btn").click(function(){
            $("#model_btn2").click();
        });
        //确认框弹出层
        $(".confirm_btn").click(function(){
            componentFunction.confirmFrame('删除吗?',function(){alert('2');});
        });
        //提示框弹出层
        $(".alert_btn").click(function(){
            componentFunction.alertFrame('置顶成功!',function(){alert('2');});
        });

        $(".masterplate_btn").click(function(){
            showMasterplate();
        });
    });

    jQuery.fn.center = function(){
        this.css('position','absolute');
        this.css('top',(($(parent.window).height() - this.height())/2 -100) + $(window).scrollTop() + 'px');
        this.css('left',(($(parent.window).width() - this.width())/2 -140) + $(window).scrollLeft() + 'px');
        return this;
    };

    //显示模版
    function showMasterplate(){
        $('#previewBG_div').fadeIn(300);
        $(window.parent.document.getElementById('iframeContain')).css('position','absolute');
        $(window.parent.document.getElementById('parent_BG_div')).fadeIn(300);
        $('.preview').center().fadeIn(300);

    };

    //关闭弹出层显示
    function closeShow(){
        $('#previewBG_div').fadeOut(300);
        $('.preview').fadeOut(300);
        $(window.parent.document.getElementById('parent_BG_div')).fadeOut(300);
        $(window.parent.document.getElementById('iframeContain')).css('position','static');
    };

</script>
<!-- end: MAIN JAVASCRIPTS -->
</body>
</html>