<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta charset="UTF-8">
    <title>分页组件库</title>
    <!-- start: MAIN CSS -->
    <link href="../res/bootstrap/bootstrap-3.3.0/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../res/component/css/component.css" rel="stylesheet" type="text/css" />
    <!-- end: MAIN CSS -->
</head>
<body>
<div class="background_Frame_div_bg" style=""></div>
<!-- 两种加载效果二选一，在页面底部javascript设置 -->
<!-- 进入页面加载 动态图效果 -->
<div id="loading_layer" style="display:none;">
    <img src="../res/component/img/loading.gif" id="loading_img" alt=""/>
</div>
<!-- 主面板 -->
<div class="container-fluid">
    <div class="row">
        <div class="component_title_div" style="background-color:#c3c488;" >
            <div class="component_title_tit">
                <span >分页组件库</span>
            </div>
            <div class="component_title_con">
                <span >分页组件库</span>
                <br /><span ></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="component_content_div">
            <div class="component_page_frame">
                <div class="component_page_cont">
                    <div class="component_page_style1">
                        <div class="component_page_title">
                            <span>分页-系列</span>
                        </div>
                        <ul class="component_page_ul">
                            <li class="component_page_li">
                                <div class="page_div_area" style="padding: 38px 20px ;">
                                    <div class="page_style_1_div" >
                                        <a class="page_left">&lt;</a>
                                        <a class="page_now_no">1</a>
                                        <a class="page_next_no">2</a>
                                        <a class="page_next_no">3</a>
                                        <a class="page_next_no">4</a>
                                        <a class="page_next_no">5</a>
                                        <a class="page_next_no">6</a>
                                        <a class="page_next_no">7</a>
                                        <a class="page_next_no">8</a>
                                        <a class="page_next_no">9</a>
                                        <a class="page_other_no"><span>&#183;&#183;&#183;</span></a>
                                        <a class="page_next_big_no page_big_no_act">999</a>
                                        <a class="page_to_no">
                                            <input type="text" value="1" class="page_value" />
                                        </a>
                                        <a class="page_last_no">/13</a>
                                        <a class="page_left">&gt;</a>
                                    </div>
                                </div>
                                <div class="page_div_text">
                                    <span>分页-风格1</span>
                                </div>
                                <div class="page_div_option">
                                    <a href="javascript:;" class="look_page_code">查看源码</a>
                                    <textarea class="page_style_code">
                                        <div class="page_style_1_div" >
                                            <a class="page_left">&lt;</a>
                                            <a class="page_now_no">1</a>
                                            <a class="page_next_no">2</a>
                                            <a class="page_next_no">3</a>
                                            <a class="page_next_no">4</a>
                                            <a class="page_next_no">5</a>
                                            <a class="page_next_no">6</a>
                                            <a class="page_next_no">7</a>
                                            <a class="page_next_no">8</a>
                                            <a class="page_next_no">9</a>
                                            <a class="page_other_no"><span>&#183;&#183;&#183;</span></a>
                                            <a class="page_next_big_no">999</a>
                                            <a class="page_to_no">
                                                <input type="text" value="1" class="page_value" />
                                            </a>
                                            <a class="page_last_no">/13</a>
                                            <a class="page_left">&gt;</a>
                                        </div>
                                    </textarea>
                                    <a href="javascript:;" class="cope_page_code">复制源码</a>
                                </div>
                            </li>
                        </ul>
                        <div class="div_clear_float"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade modal_Frame" id="codeModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog" style="z-index: 1041;width: 500px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        U百通-分页库源码
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="">
                        <textarea class="show_button_code">

                        </textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <div style="display: none;">
        <input type="hidden" value="模态框" data-toggle="modal" id="model_btn"
               data-target="#codeModal" class="btn" />
    </div>
</div>

<!-- start: MAIN JAVASCRIPTS -->

<!--[if lt IE 9]>
<script src="res/basic/js/excanvas.min.js"></script>
<![endif]-->

<script type="text/javascript" src="../res/basic/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../res/bootstrap/bootstrap-3.3.0/js/bootstrap.js"></script>
<script type="text/javascript" src="../res/component/js/component.js" ></script>
<script type="text/javascript" >
    startLoading();
    $(function(){
        $(".cope_page_code").click(function(){
            alert("暂时不支持点击复制!");
        });
        $(".look_page_code").click(function(){
            var code_html=$(this).next("textarea").html();
            $(".show_button_code").html(code_html);
            $("#model_btn").click();
        });
    });
</script>
<!-- end: MAIN JAVASCRIPTS -->
</body>
</html>