<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta charset="UTF-8">
    <title>返回顶部系列</title>
    <!-- start: MAIN CSS -->
    <link href="../res/bootstrap/bootstrap-3.3.0/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../res/component/css/component.css" rel="stylesheet" type="text/css" />
    <!-- end: MAIN CSS -->
</head>
<body>
<div class="background_Frame_div_bg" style=""></div>
<!-- 两种加载效果二选一，在页面底部javascript设置 -->
<!-- 进入页面加载 动态图效果 -->
<div id="loading_layer" style="display:none;">
    <img src="../res/component/img/loading.gif" id="loading_img" alt=""/>
</div>
<!-- 主面板 -->
<div class="container-fluid">
    <div class="row">
        <div class="component_title_div" style="background-color:#000" >
            <div class="component_title_tit">
                <span >返回顶部系列</span>
            </div>
            <div class="component_title_con">
                <span style="color: #fff;">返回顶部效果等.</span>
                <br /><span ></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="component_content_div">
            <div class="component_select_frame">
                <div class="component_select_cont">
                    <div class="component_select_style1">
                        <div class="component_select_title" style="background-color:#000; ">
                            <span style="color: #fff;">返回顶部-系列</span>
                        </div>
                        <ul class="component_select_ul">
                            <li class="component_select_li">
                                <div class="select_div_area" style="padding: 38px 40px ;">
                                    <a href="javascript:;" class="component_btn5 btn_go_top">
                                    </a>
                                </div>
                                <div class="select_div_text">
                                    <span>返回顶部-风格1</span>
                                </div>
                                <div class="select_div_option">
                                    <a href="javascript:;" class="look_select_code">查看源码</a>
                                    <textarea class="select_style_code">
                                        <div class="return_top_div">
                                            <a href="javascript:;" class="component_btn5 btn_go_top">
                                            </a>
                                        </div>
                                    </textarea>
                                    <a href="javascript:;" class="cope_select_code">复制源码</a>
                                </div>
                            </li>
                        </ul>
                        <div class="div_clear_float"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade modal_Frame" id="exitUser2" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog" style="z-index: 1041;width: 500px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel2">
                        U百通-友情提示
                    </h4>
                    <div style="clear: both"></div>
                </div>
                <div class="modal-body">
                    <div class="a-exit">
                        <span style="font-size: 17px;" >你确认要退出吗?</span><br/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary exitUser_btn_sure">
                        确认
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade modal_Frame" id="codeModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog" style="z-index: 1041;width: 500px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel3">
                        U百通-下拉框库源码
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="">
                        <textarea class="show_button_code">
                        </textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <div style="display: none;">
        <input type="hidden" value="模态框" data-toggle="modal" id="model_btn"
               data-target="#codeModal" class="btn" />
    </div>
    <div style="display: none;">
        <input type="hidden" value="模态框" data-toggle="modal" id="model_btn2"
               data-target="#exitUser2" class="btn" />
    </div>
</div>

<div class="return_top_div">
    <a href="javascript:;" class="component_btn5 btn_go_top">
    </a>
</div>

<!-- start: MAIN JAVASCRIPTS -->

<!--[if lt IE 9]>
<script src="res/basic/js/excanvas.min.js"></script>
<![endif]-->

<script type="text/javascript" src="../res/basic/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../res/bootstrap/bootstrap-3.3.0/js/bootstrap.js"></script>
<script type="text/javascript" src="../res/basic/js/png.js" ></script>
<script type="text/javascript" src="../res/component/js/component.js" ></script>
<script type="text/javascript" >
    startLoading();
    $(function(){
        $(".cope_select_code").click(function(){
            alert("暂时不支持点击复制!");
        });
        $(".look_select_code").click(function(){
            var code_html=$(this).next("textarea").html();
            $(".show_button_code").html(code_html);
            $("#model_btn").click();
        });
        $(".select_check_click").on("click",function(){
            var input_ele=$(".input_check");
            componentFunction.showRemindInputF(input_ele,"提示");
        });
        $(".modal_btn").click(function(){
            $("#model_btn2").click();
        });
        //确认框弹出层
        $(".confirm_btn").click(function(){
            componentFunction.confirmFrame('删除吗?',function(){alert('2');});
        });
        //提示框弹出层
        $(".alert_btn").click(function(){
            componentFunction.alertFrame('置顶成功!',function(){alert('2');});
        });
    });
</script>
<!-- end: MAIN JAVASCRIPTS -->
</body>
</html>