/* stylesheet */

.software_a{
    display: block;
}
.software_news_1{
    position: absolute;  left: 145px;  top: 0;
    background-color: #FF3B30;  z-index: 100;
}
.software_news_2{
    position: absolute;  left: 145px;  top: 0;
    background-color: #F0AD4E;  z-index: 100;
}
.software_span{
    padding: 0px;margin: 0px;
}
.software_div:hover{
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);  outline: 0 none;
}
.software_div_1{
    margin-top: 10px;  text-align: center;
}
.software_div_2{
    text-align: center;  margin-bottom: 10px;
}
.software_div{
    text-align: center;
}
.s-name{
    color: #000000;  display: block;  font-size: 14px;  margin: 5px 0 0px;
}
.s-money{
    color: #828999;  font-family: Verdana,Geneva,sans-serif;
    font-size: 15px;  height: 26px;  line-height: 26px;  overflow: hidden;
    padding-left: 9px;  padding-right: 4px;  background-color: #cdddeb;  border-radius: 10px;
}
.s-money:hover{
    background-color:#FF3B30;  color: #fff;
}
.buyServer ul li {
    background: url("../img/server/buyServerBG.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    float: left;  height: 210px;
    margin-bottom: 45px;  padding: 0 10px;  width: 227px;
}
.buyServer ul li a {
    color: #828999;  display: block;
    font-family: "微软雅黑","新宋体";  font-size: 16px;  font-weight: bold;  height: 60px;
    padding-top: 150px;  text-align: center;  width: 210px;
}
.buyServer ul li span {
    color: #828999;  font-family: "微软雅黑","新宋体";
    font-size: 16px;  font-weight: bold;  text-align: center;  margin-left: 65px;
}
.buyServer ul li a:hover {
    color: #ea5300;
}
.buyServer ul li a.customMenu {
    background: url("../img/server/buyServerIcon.png") no-repeat scroll -1235px 40px rgba(0, 0, 0, 0);
}
.buyServer ul li a.customMenu:hover {
    background: url("../img/server/buyServerIcon.png") no-repeat scroll -1235px -129px rgba(0, 0, 0, 0);
}
.buyServer ul li a.autoReply {
    background: url("../img/server/buyServerIcon.png") no-repeat scroll -1385px 40px rgba(0, 0, 0, 0);
}
.buyServer ul li a.autoReply:hover {
    background: url("../img/server/buyServerIcon.png") no-repeat scroll -1385px -126px rgba(0, 0, 0, 0);
}
.buyServer ul li a.material {
    background: url("../img/server/buyServerIcon.png") no-repeat scroll -1537px 42px rgba(0, 0, 0, 0);
}
.buyServer ul li a.material:hover {
    background: url("../img/server/buyServerIcon.png") no-repeat scroll -1537px -126px rgba(0, 0, 0, 0);
}
.edit_password_div table tr{

}
.edit_password_div table tr td span{
}
.edit_password_div_name{
    text-align: right;
}
.edit_password_div_name{
    color: #676A75;
}
.edit_password_div_inp{
    padding: 0px 10px;
}
.incon_lock{
    background-image: url("../../component/img/icon_lock.png");
    visibility: visible;width: 25px;height: 25px;float:left;margin-right: 4px;
}
#myModalLabel{
    float: left;margin: 2px 0 0;color: #676A75;font-weight: bolder;
}
.input_text_1{padding-left: 15px; width: 180px;height: 30px;
    border: 1px solid #E1E1E2;  border-radius: 4px;line-height: 28px\9;}
.input_text_1:hover{
    border-color: #C7DAFA;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    line-height: 28px\9;
}
.exitUser_title_div{
    float: left;width: 340px;text-align: left;
}
.exitUser_btn_div{
    float: left;width: 120px;
}
.exitUser_title_icon{
   color:#ed1c24;font-size: 32px;
}
.exitUser_title_span{
    font-family: "微软雅黑","新宋体";
    font-size: 14px;
    padding: 0px 0px 0px 10px;line-height: 32px;
}