/* CSS */
html{color:#000;height:100%;background:#fff}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}body{height:100%;}

/* 全局样式 */
body{ font-size:12px; font-family:'微软雅黑'; color:#75767a; min-width:800px; }
.body-pd{ padding-top:15px; }
.clr{ clear:both; display:block; font-size:0; height:0; line-height:0; overflow:hidden; }
a{ font-size:12px; text-decoration:none; }
.fb{ font-weight:bold; }

.header{ width:100%; height:71px; border-bottom:1px solid #f2f2f2; background:#5d5d63; position:relative; }
.header .head-logo{ position:absolute; top:10px; left:20px; }
.header .head-nav{ position:absolute; top:0; left:146px; background:#5d5d63; }
.header .head-nav li{ float:left; position:relative; overflow:hidden; line-height:70px; text-align:center; }
.header .head-nav li a{ display:block; width:70px; height:70px; line-height:70px; font-size:14px; color:#fff; font-weight:bold; float:left; position:relative; outline:none; }
.header .head-nav li a.act{ background:#3c3c3c; box-shadow:1px 1px 1px #383737 inset; }
/*.header .head-nav li a:hover{ background:#3c3c3c; box-shadow:1px 1px 1px #383737 inset; }*/
.header .head-nav li .s-segmenta{ display:block; float:left; background:url(../img/segmenta.png) no-repeat; width:2px; height:70px; }
.header .head-nav li a span{ cursor:pointer; }
.header .head-nav li a span.out{ position:absolute; left:0; top:0px; width:100%; }
.header .head-nav li a span.over{ position:absolute; left:0; top:-70px; width:100%; background-color:#3c3c3c; box-shadow:1px 1px 1px #383737 inset; }
.header .head-basic{ position:absolute; top:8px; right:23px; _right:10px; }
.header .head-basic .p-name{ float:left; color:#fff; _margin-right:5px; }
.header .head-basic .p-name em{ color:#f88408; }
.header .head-basic a{ display:inline-block; color:#fff; background:url(../img/cloth.png) no-repeat; height:15px; line-height:15px; padding-left:18px; margin-left:8px; outline:none; }
.header .head-basic .a-password{ _background-position:3px 0; _height:17px; _line-height:17px; }
.header .head-basic .a-road{ background-position:-80px 2px; _background-position:-80px 0; }
.header .head-basic .a-exit{ background-image: url("../img/a_exit.png") }
.header .head-basic .a-mall{ background-position:-246px 1px; _background-position:-246px 0;  }

.left{ width:146px; _width:144px; _overflow:hidden; border-right:1px solid #dedede; background:#f2f2f3; position:absolute; top:70px; left:0; }
.left .tabs-items{ display:none; }
.left .nav-img{ padding:30px 43px 20px 40px; }
.left .nav-img p{ color:#4b4b51; margin-top:8px; text-align:center; }
.left .s-segmenta{ display:block; height:2px; overflow:hidden; background:url(../img/icon.png) no-repeat 0 -168px; }
.left li{ width:145px; position:relative; z-index:99; }
.left li a{ font-size: 14px; display:block; color:#4b4b51; padding:10px 0 10px 10px; width:145px; position:relative; z-index:99; outline:none; }
.left li a span{ display:inline-block; color:#bfbfbf; margin-right:10px; }
.left li a:hover, .left li .act{ background:#a4a4a4; }
.left li a:hover, .left li a:hover span, .left li .act, .left li .act span{ color:#fff; }

.right{ position:absolute; top:70px; left:146px; }
.right .level{ height:35px; line-height:34px; border-bottom:1px solid #dedede; background:#f8f8f8; padding-left:23px; }
.right .level li{ float:left;_width:60px; height:35px; line-height:46px; text-align:center; position:relative; z-index:99; }
.right .level li{position: absolute}
.right .level li a{ display:block;width: 126px; height:35px; color:#7a7a7b; position:relative; z-index:99; outline:none;
    background: url(../img/check_item.png) bottom center no-repeat;font-size: 14px; }
.right .level li a{border-bottom:1px solid #dedede; }
.right .level li a:hover{ color:#f88408;border-bottom:1px solid #dedede; }
.right .level li a.act{ border-bottom: 0px;color:#f88408; background:url(../img/check_item2.png) bottom center no-repeat; }

.a-up{ display:block; position:absolute; top:66px; right:23px; background:url(../img/icon.png) no-repeat 0 -112px; width:26px; height:16px; z-index:99; outline:none; }
.a-fullScreen{ display:block; position:absolute; top:82px; left:121px; background:url(../img/fullscreen.png) no-repeat; width:14px; height:14px; z-index:99; outline:none; }
.lefthover{background:url(../img/partscreen.png) no-repeat;}