
body{
background-color:#f2f2f3;
padding-top:20px;
padding-bottom:50px;
}

strong{
font-size:18px;
font-weight:bold;
}

/* 头部导航栏 */
.head{
height:46px;
background-color:#dbdbdb;
border-radius:10px 10px 0px 0px;
font-weight:bold;
font-size:18px;
	border: 1px solid #ceced6;
}
a.nowpage{
background-color:#fff;
color:#000;
border-radius:10px 0px 0px 0px;
}
.nav > li > a.nowpage:hover, .nav > li > a.nowpage:focus{
background-color:#405070;
color:#428bca;
}

/*表格上方搜索和菜单栏*/
.tb-menu{
height:75px;
padding-top:20px;
background:#fff;
/*border: 1px solid #ceced6;*/
}
.tb-menu-color{
font-weight:bold;
background-color:#fff;
border-color:#4e6284;
color:#999;
}
.btn-color{
background-color:#1abc9c;
border-color:#1abc9c;
color:white;
font-weight:bold;
}

/* 表头 */
.tb-head{
height:60px;
padding:7px;
background-color:#6bc2d8;
color:white;
font-weight:bold;
}

/* 表格主体 */
.tb-body{
font-size:16px;
height:38px;
padding:7px;
background-color:#fff;
color:#000000;
/*border-left: 1px solid #ceced6;
border-right: 1px solid #ceced6;*/
}
.tb-body tr{
  height: 45px;
}
.tb-body tr:hover{
background-color:#dcdcdc;
}
/* 表格主体 */
.tb-body a span{
	color:#000000;
	margin-left: 16px;
}

/* 分页区域 */
.tb-page{
text-align:center;
height:50px;
padding:15px;
background:#000;
border-radius:0px 0px 10px 10px;
font-size:18px;
font-weight:bold;
}
.tb-page a{
color:#fff1f3;
text-decoration:none;
}

/* 气泡提醒主体 */
.error{
font-size:12px;
display:none;
background-color:#FFFE36;
padding:4px 10px;
color:#000;
border-radius:5px;

-moz-box-shadow:0 0 6px #ddd;
-webkit-box-shadow:0 0 6px #ddd;
position:absolute;
z-index:9;
}

/* 气泡提醒 箭头效果 */
.errorem {
  display:none;
  width:0;
  height:0;
  border:10px solid;
  border-color:transparent transparent #FFFE36 ;
  position:absolute;
  z-index:9;
}

/* CSS3加载效果 */
.spinner {
  width: 50px;
  height: 60px;
  text-align: center;
  font-size: 10px;
}
.spinner > div {
  background-color: #67CF22;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}
@keyframes stretchdelay {
  0%, 40%, 100% {
	transform: scaleY(0.4);
	-webkit-transform: scaleY(0.4);
  }  20% {
	transform: scaleY(1.0);
	-webkit-transform: scaleY(1.0);
  }
}

/* 页面加载效果 */
.hidenELE, .hidenELE body {overflow:hidden}
.hidenELE body > * {visibility:hidden}
.hidenELE #loading_layer {visibility:visible;display:block !important;position:absolute;top:0;left:0;width:100%;height:3000px;background:#fff;z-index:10000}
.hidenELE #loading_layer .spinner {position:fixed;top:100%;}
.hidenELE #loading_layer #loading_img {position:fixed;top:100%;}
.hidenELE .tab-pane {display:block !important}
.hidenELE .hide {display: inherit}


/*top*/
#scrollTop,
#scrollTop .level-2{background:url(../img/rocket_up.png) no-repeat 0 0;}
#scrollTop div{left:0;overflow:hidden;position:absolute;top:0;width:149px;margin:0;padding:0}
#scrollTop .level-2{background-position:-149px 0;display:none;height:180px;opacity:0;z-index:1}
#scrollTop .level-3{background:none;cursor:pointer;display:block;height:180px;z-index:2}
#scrollTop{cursor:pointer;display:block;height:180px;overflow:hidden;position:fixed;right:-42px;top:95%;width:149px;z-index:11;margin:-124px 0 0;padding:0}
