/* CSS���� */
html{color:#000;height:100%;background:#fff}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}body{height:100%;}

/* ȫ�ֱ��� */
body{ font-size:12px; font-family:'����'; color:#75767a; background:#878f98; }
.body-pd{ padding-top: 0px; }
.clr{ clear:both; display:block; font-size:0; height:0; line-height:0; overflow:hidden; }
a{ font-size:12px; text-decoration:none; }
.fb{ font-weight:bold; }

.right-banner .home a, .right-banner .quit a, .statistics .order-detail .blue, .statistics .order-detail .blue em, .statistics .order-detail .red, .statistics .order-detail .red em, .thirdparty .order-detail .green, .thirdparty .order-detail .green em, .a-login, .a-login span, .body-home .corner, .order-general .close-order .reason-icon, .order-general .a-back{ background:url(../img/mall/bg.png) no-repeat; overflow:hidden; }

.body-home{ background:url(../img/leftbg.gif) repeat-y #f2f2f3; position:relative; width: 100%; /* overflow:hidden;*/}
/*.body-home .corner{ background-position:0 0; display:block; width:10px; height:10px; position:absolute; }
.body-home .ltop{ top:0; left:0; }
.body-home .rtop{ background-position:-20px 0; top:0; right:0; }
.body-home .lbottom{ background-position:0 -20px; bottom:0; left:0; }
.body-home .rbottom{ background-position:-20px -20px; bottom:0; right:0; }*/

.body-left{ width:200px; float:left; overflow:hidden; }
.body-right{ border: 0px; background: none repeat scroll 0 0 #fff; float: left;  overflow: hidden;  padding-bottom: 25px;  width: 100%;}
.body-left .logo{ margin:50px 0 0 20px; width:154px; height:69px;}
.body-left .logo a{display:block; width:154px; height:69px; background:url(../img/logo.png);}
.body-left .nav{ margin-top:53px; }
.body-left .nav li .navtitle{ display:block; width:169px; background:#353439; color:#fff; border-left:3px solid #353439; font-size:14px; font-weight:bold; padding:13px 0 13px 28px; margin-top:11px; outline:none; }
.body-left .nav li .navtitle:hover, .body-left .nav li .navtitle.act{ border-left-color:#ea5300; }

.nav li .details{ padding-bottom:25px; display:none; }
.nav li .details a{ display:block; width:157px; border-right:3px solid #3b3a3f; margin-top:25px; padding-left:40px; outline:none; }
.nav li .details a span{ color:#cccdcf; font-weight:14px; display:block; float:left; margin-left:10px; line-height:17px; cursor:pointer; }
.nav li .details a .s-icon{ background:url(../img/mall/navPic.png) no-repeat; overflow:hidden; margin-left:0; cursor:pointer; }
.nav li .details a .s1{ background-position:0 -597px; width:16px; height:17px; _height:16px; }
.nav li .details a .s2{ background-position:0 -623px; width:15px; height:15px; }
.nav li .details a .s3{ background-position:0 -649px; width:16px; height:17px; _height:16px; }
.nav li .details a .s4{ background-position:0 -675px; width:15px; height:16px; }
.nav li .details a .s5{ background-position:0 -701px; width:17px; height:17px; }
.nav li .details a .s6{ background-position:0 -864px; width:17px; height:18px; }
.nav li .details a .s7{ background-position:-73px -597px; width:17px; height:17px; }
.nav li .details a .s8{ background-position:-73px -623px; width:18px; height:17px; }
.nav li .details a .s9{ background-position:-73px -649px; width:17px; height:17px; }
.nav li .details a .s10{ background-position:0 -1094px; width:16px; height:16px; }
.nav li .details a .s11{ background-position:0 -1120px; width:17px; height:18px; }
.nav li .details a .s12{ background-position:0 -1148px; width:16px; height:14px; }
.nav li .details a .s13{ background-position:0 -1172px; width:18px; height:13px; }
.nav li .details a .s14{ background-position:0 -1195px; width:15px; height:17px; }


.nav li .details a.act, .nav li .details a.linkon{ border-right-color:#ea5300; }
.nav li .details a.act span, .nav li .details a.linkon span{ color:#ea5300; }
.nav li .details a.act .s1, .nav li .details a.linkon .s1{ background-position:-36px -597px; }
.nav li .details a.act .s2, .nav li .details a.linkon .s2{ background-position:-36px -623px; }
.nav li .details a.act .s3, .nav li .details a.linkon .s3{ background-position:-36px -649px; }
.nav li .details a.act .s4, .nav li .details a.linkon .s4{ background-position:-36px -675px; }
.nav li .details a.act .s5, .nav li .details a.linkon .s5{ background-position:-36px -701px; }
.nav li .details a.act .s6, .nav li .details a.linkon .s6{ background-position:-36px -864px; }
.nav li .details a.act .s7, .nav li .details a.linkon .s7{ background-position:-110px -597px; }
.nav li .details a.act .s8, .nav li .details a.linkon .s8{ background-position:-110px -623px; }
.nav li .details a.act .s9, .nav li .details a.linkon .s9{ background-position:-110px -649px; }
.nav li .details a.act .s10, .nav li .details a.linkon .s10{ background-position:-36px -1094px; }
.nav li .details a.act .s11, .nav li .details a.linkon .s11{ background-position:-36px -1120px; }
.nav li .details a.act .s12, .nav li .details a.linkon .s12{ background-position:-36px -1148px; }
.nav li .details a.act .s13, .nav li .details a.linkon .s13{ background-position:-36px -1172px; }
.nav li .details a.act .s14, .nav li .details a.linkon .s14{ background-position:-36px -1195px; }

.footer{ text-align:center; margin:30px 0; *height:100px; }
.footer p{ line-height:25px; color:#f2f2f3; }

/*��ҳ*/
.next-page{ float:right; margin-right:37px; *margin-right:15px; padding-top:15px; height:30px; line-height:25px; }
.next-page a{ display:inline-block; padding:2px 5px; *padding:3px 5px 1px; _padding-bottom:3px; border:1px solid #fff; color:#fff; line-height:16px; *margin-top:1px; }
.next-page a:hover, .next-page a.act{ background:#828999; border-color:#fff; color:#fff; }
.next-page span{ display:inline-block; color:#5b5b5b; margin-right:4px; *vertical-align:top; *padding-top:2px; *margin-left:2px; }
.next-page .page-up{ background:url(../img/btnbg.png) no-repeat 11px 6px; _background-position:11px 7px; width:17px; }
.next-page .page-up:hover{ background:url(../img/btnbg.png) no-repeat 11px 6px #828999; _background-position:11px 7px; }
.next-page .page-down{ background:url(../img/btnbg.png) no-repeat -14px 6px; _background-position:-14px 7px; width:17px; }
.next-page .page-down:hover{ background:url(../img/btnbg.png) no-repeat -14px 6px #828999; _background-position:-14px 7px; }
.next-page .a-confirm{ *padding:3px 5px 1px;  *vertical-align:top; }
.next-page input{ width:25px; height:20px; *height:16px; *padding:4px 0 0 0; margin-right:4px; text-align:center; *vertical-align:top; border:1px solid #fff; }
.next-page .a-sumit{ *margin-top:-1px; }

/*����*/
.credit{ background:url(../img/stars.gif) no-repeat; height:15px; position:relative; display:block; }
.credit1{ width:16px; }
.credit2{ width:38px; }
.credit3{ width:61px; }
.credit4{ width:84px; }
.credit5{ width:106px; }

.star{ background:url(../img/bigstars.gif) no-repeat; height:19px; }
.star1{ width:20px; }
.star2{ width:44px; }
.star3{ width:69px; }
.star4{ width:93px; }
.star5{ width:117px; }

.greystar{ background:url(../img/greystars.gif) no-repeat; height:12px; }
.greystar1{ width:14px; }
.greystar2{ width:29px; }
.greystar3{ width:44px; }
.greystar4{ width:60px; }
.greystar5{ width:73px; }

.smallstars{ background:url(../img/smallstars.gif) no-repeat; height:12px; }
.smallstars1{ width:15px; }
.smallstars2{ width:31px; }
.smallstars3{ width:46px; }
.smallstars4{ width:61px; }
.smallstars5{ width:73px; }


















