/*-------------------------------------------------------------------------软件包--------------------------------------------------------------------*/
.icon-lists .seller-icon .icon{ display:block; float:left; }
.icon-lists .seller-icon .icon img{ cursor:pointer; }
.icon-lists li{ margin:0 3px 60px 15px; float:left; width:220px; }
.icon-lists li a{ outline:none; }
.icon-lists .seller-icon p{ float:left; margin-left:10px; cursor:pointer; }
.icon-lists .seller-icon p .s-name{ font-size:14px; color:#000000; margin:14px 0 10px; display:block; }
.icon-lists .seller-icon p .s-money{ background:url(../img/popularize/navPic.png) no-repeat left -1077px; _background-position:left -1076px; display:block; overflow:hidden; float:left; height:26px; line-height:26px; padding-left:9px; color:#828999; font-size:15px; font-family:Verdana, Geneva, sans-serif; }
.icon-lists .seller-icon p .s-money em{ background:url(../img/popularize/navPic.png) no-repeat right -1077px; _background-position:right -1076px; display:block; overflow:hidden; float:left; padding-right:10px; }
.icon-lists a.act .seller-icon p .s-money{ background-position:left -1122px; }
.icon-lists a.act .seller-icon p .s-money em{ background-position:right -1122px; color:#fff; }

/*-------------------------------------------------------------------------推广包--------------------------------------------------------------------*/
.generalize-lists .seller-icon p .s-money{ background-image:none; margin-top:22px; }
.generalize-lists .seller-icon p .s-money em{ background-image:none; color:#000000; }
.generalize-lists a:hover .seller-icon p .s-money{ background-image:url(../img/popularize/navPic.png); }
.generalize-lists a:hover .seller-icon p .s-money em{ background-image:url(../img/popularize/navPic.png); }

/*-------------------------------------------------------------------------运营包--------------------------------------------------------------------*/
.operate-lists li{ margin-left:0px; margin-right:2px; width:236px; }
.operate-lists .seller-icon p{ margin-left:5px; }
.operate-lists .seller-icon p .s-money{ background-image:none; margin-top:22px; font-size:14px; }
.operate-lists .seller-icon p .s-money em{ background-image:none; color:#000000; }
.operate-lists a:hover .seller-icon p .s-money{ background-image:url(../img/popularize/navPic.png); }
.operate-lists a:hover .seller-icon p .s-money em{ background-image:url(../img/popularize/navPic.png); }

/*-------------------------------------------------------------------------软件包评价详情页--------------------------------------------------------------------*/
.genera-particul{ margin:42px 30px 23px; }
.particul-left{ float:left; }
.particul-left .icon{ display:block; margin-left:4px; float:left; }
.particul-left .introduce{ margin:-3px 0 0 35px; float:left; width:510px; font-family:"微软雅黑"; }
.particul-left .introduce h1{ font-size:24px; color:#4a4d54; margin-bottom:10px; }
.introduce .p-recommend{ color:#4a4d54; margin-bottom:10px; line-height:20px; }
.introduce .p-money{ margin-top:6px; }
.introduce .p-money span{ color:#4a4d54; font-size:14px; float:left; margin-top:5px; }
.introduce .p-money em{ color:#ea5300; font-size:24px; font-family:Verdana; font-weight:bold; float:left; }
.introduce .money{margin-top:10px; }
.introduce .money span{ color:#4a4d54; font-size:14px; float:left; margin-top:5px; }
.introduce .money .money-year{ float:left; width:415px; }
.introduce .money .money-year em{ border:1px solid #dadada; background:#fff; margin:0 6px 7px 4px; height:28px; display:inline-block; }
.introduce .money em a:hover, .introduce .money em.act, .introduce .money em.act a, .introduce .money em.linkOn{ border-color:#ea5300; color:#ea5300; }
.introduce .money em.not-allowed, .introduce .money em.not-allowed a{ border:1px dashed #DEDEDE; color:#DEDEDE; cursor:not-allowed; outline:none; }
.introduce .money em a{ display:inline-block; border:1px solid #fff; padding:3px 11px; color:#4a4d54; font-size:14px; *line-height:20px; }
.particul-right{ float:left; margin-left:70px; }
.particul-right .s-score{ font-size:48px; color:#ea5300; font-family:Verdana; font-weight:bold; display:block; line-height:55px; margin-top:-9px; }
.particul-right .stars{ height:15px; overflow:hidden; margin-bottom:7px; }
.particul-right .stars .half-star{ position:absolute; top:0; right:0; }
.particul-right p{ font-size:14px; color:#4a4d54; line-height:25px; }
.particul-right .a-btn{ font-size:18px; color:#fff; background:#ea5300; border-radius:4px; display:block; width:158px; height:40px; line-height:40px; _padding-top:3px; _height:37px; text-align:center; margin-top:10px; }

.package{ margin:0 30px 30px; }
.package h1{ font-size:16px; color:#4a4d54; border-bottom:2px solid #e0e0e2; padding-bottom:5px; }
.package h1 span{ border-bottom:2px solid #ea5300; padding:0 13px 5px 5px; }
/*滚动效果*/
#anythingSlider{ width:950px; height:90px; position:relative; overflow:hidden; margin:10px auto 0; }
#anythingSlider .wrapper{ width:834px; overflow:auto; height:90px; position:absolute; top:15px; left:0px; overflow-y:hidden; overflow-x:hidden; }
#anythingSlider .wrapper ul{ width:999999px; list-style:none; position:absolute; top:0; left:6px; margin:0; overflow-y:hidden; overflow-x:hidden; }
#anythingSlider ul li{ display:block; float:left; padding:0; height:90px; width:950px; margin:0; }
#thumbNav{ position:absolute; right:14px; top:10px; text-align:center; }
#thumbNav a{ margin:0px 4px; background:#c7c7c7; width:8px; height:8px; float:left; text-indent:-9999px; outline:none; _overflow:hidden; }
#thumbNav a.cur{ background:#ea5300; font-weight:bold; width:8px; height:8px; }
#start-stop{ display:none; }
.wrapper li .a-icon{ display:block; float:left; }
.wrapper li .s-plus{ display:block; background:url(../img/popularize/navPic.png) no-repeat 0 -1168px; width:12px; height:12px; overflow:hidden; float:left; margin:25px 15px 0; }
.wrapper li .s-equal{ background-position:-32px -1168px; margin-top:27px; }
.wrapper li .p-money{ float:left; padding-top:5px; _width:200px; }
.wrapper li .p-money span{ display:block; font-size:14px; color:#4a4d54; margin-bottom:5px; _margin-bottom:0; }
.wrapper li .p-money span em{ text-align:right; width:60px; display:block; float:left; _margin-top:6px; }
.wrapper li .p-money span .e-money{ font-size:18px; color:#ea5300; font-family:Verdana; width:auto; _margin-top:0;}
.wrapper li .a-btn{ display:block; width:100px; height:27px; line-height:27px; _padding-top:3px; _height:24px; text-align:center; color:#fff; background:#ea5300; border-radius:4px; float:left; margin:15px 0 0 27px; _margin-left:0; font-weight:bold; }
/*星星*/
.tab-estimate .estimate{ padding:10px 0; background:#fff; border-bottom:1px solid #e6e6ea; }
.estimate .estimate-star{ float:left; margin:21px 0 27px 35px; _margin-left:20px; }
.estimate .estimate-star .s-serve{ font-size:14px; font-weight:bold; color:#828999; _margin-right:10px; }
.estimate .estimate-star .s-serve em{ font-size:48px; color:#ea5300; font-family:Verdana; font-weight:bold; line-height:55px; margin:0 5px; }
.estimate .estimate-star .s-star{ display:inline-block; height:20px; position:relative; margin-left:18px; }
.estimate .estimate-star .s-star .half-grey{ position:absolute; top:0; right:0; _right:-1px; }
.estimate .estimate-star .star3 .half-grey{ _right:-1px; }
.estimate .estimate-star .star4 .half-grey{ _right:-1px; }
.estimate .estimate-star .star5 .half-grey{ _right:-1px; }
.estimate .star-scale{ float:left; margin:19px 0 16px 83px; }
.estimate .star-scale span{ float:left; color:#ea5300; }
.estimate .star-scale .s-small{ width:75px; }
.estimate .star-scale .s-strip{ background:#ea5300; width:100px; height:8px; display:inline-block; margin:3px 7px 0 7px; _overflow:hidden; }
.estimate .star-scale .scale{ margin-bottom:3px; }
.tab-estimate .evaluate-lists{ padding:18px 0 20px 25px; }
.evaluate-lists .evaluate{ margin-bottom:10px; }
.evaluate-lists .evaluate span{ color:#a3abbe; display:block; float:left; margin-top:6px; }
.evaluate li{ float:left; margin-left:10px; }
.evaluate li a{ background:#ea5300; padding:5px 10px; _padding-top:7px; _height:10px; display:inline-block; color:#fff; }
.evaluate li a.a-review{ background:#4a4d54; }
/*列表*/
.evaluate-lists .estimate-lists{ margin:0 34px 0 10px; padding-bottom:20px; }
.estimate-lists li{ border:2px solid #ecedf2; width:875px; padding:20px 0; margin-top:10px; }
.estimate-lists li .p-name{ font-size:16px; color:#4a4d54; width:155px; text-align:center; float:left; margin:1px 45px 0 0; }
.estimate-lists li .particulars{ width:440px; float:left; }
.estimate-lists li .particulars p{ font-size:14px; color:#4a4d54; margin-bottom:5px; }
.estimate-lists li .particulars .p-service{ font-size:12px; color:#7f5058; margin-bottom:0; line-height:22px; }
.estimate-lists li .time{ width:200px; text-align:center; float:left; margin-left:35px; }
.estimate-lists li .time p{ font-size:14px; color:#4a4d54; }
.estimate-lists li .time .p-time{ font-size:12px; color:#a3abbe; }
.estimate-lists li .time .p-time span{ margin-left:12px; }

/*-------------------------------------------------------------------------软件包订购详情页--------------------------------------------------------------------*/
.inventory .table{ padding-bottom:15px; }
.inventory .table3{ width:100%; text-align:center; }
.inventory .table3 td{ font-size:14px; }
.inventory .table3 thead td{ border-bottom:1px solid #e6e6ea; padding:15px 0 10px; }
.inventory .table3 thead td.td-left{ text-align:left; padding-left:65px; }
.inventory .table3 tbody td{ padding:15px 0; *padding-top:20px; }
.inventory .table3 tbody td.td-left{ text-align:left; padding-left:70px; }

/*--立即订购--*/
.orderIm-title{border-bottom:1px solid #d2d3d6; height:25px;}
.orderIm-title span{ font-size:16px; font-family:"微软雅黑", "新宋体"; float:left; padding:0px 5px; height:24px; border-bottom:1px solid #d2d3d6;}
.orderIm-balance{border:1px solid #d6d5d7; background:#fff; height:45px; margin-top:15px; margin-bottom:30px;}
.orderIm-balance .balance-userName{float:left; line-height:45px; padding-left:20px; font-size:14px;}
.orderIm-balance .balance-bal{float:right; line-height:45px; padding-right:20px; font-size:14px;}
.orderIm-balance .balance-bal span{color:#ea5300; font-weight:bold; font-size:16px; padding:0px 5px;}

.tab-product .tab-choose .tab-a{float:right; padding-top:20px; padding-right:20px;}
.tab-product .tab-choose .tab-a a.orderIm-check{color:#4798f2;}
.tab-product .inventory .table2 td.orderIm-stati{height:55px; background:#eff1f3;}
.tab-product .inventory .table2 td.orderIm-stati .orderIm-total{float:right; line-height:55px; font-size:16px; font-weight:bold; padding-right:40px; color:#4a4d54;}
.tab-product .inventory .table2 td.orderIm-stati .orderIm-total span{color:#ea5300; font-size:18px;  padding:0px 5px;}

.checkBoxBG{display:none; width:100%; height:100%; background:#000;position:fixed !important;/*ie7 ff*/position:absolute;top:0;left:0; z-index:999;
	filter:alpha(opacity=40);
	-moz-opacity:0.4;
	-khtml-opacity: 0.4;
	opacity: 0.4;}
.checkBox{display:none; height:auto !important; height:200px; min-height:200px; width:735px; padding:20px; position:fixed !important;/*ie7 ff*/position:absolute; background:#fff; z-index:1000; left:50%; top:50%; margin-left:-388px; margin-top:-200px; border:3px solid #babbc9; box-shadow:0px 0px 5px #999; }
.checkBox .cB-close{position:absolute; display:block; width:20px; height:20px; background:url(../img/popularize/close.png) no-repeat; right:20px; top:20px;}
.checkBox .cB-title{height:40px; border-bottom:1px solid #cfd2df; text-align:center;}
.checkBox .cB-title h2{color:#75767a; font-size:16px; font-family:"微软雅黑", "新宋体"; }
.checkBox .cB-Text{padding:15px;}




.payWay{padding:30px 20px; height:auto !important; height:200px;min-height:200px; background:#fff; border:1px solid #d2d3d6; margin-top:20px; margin-bottom:40px;}
.payWay .payWay-remind,.payWay .payWay-hideName{height:20px; margin-bottom:20px; font-size:12px;}
.payWay .payWay-remind input,.payWay .payWay-hideName input{float:left; margin-right:5px;}
.payWay .payWay-title{margin-bottom:15px;}
.payWay .payWay-balance{height:40px; background-color:#eff1f3; padding-right:15px; margin-bottom:10px;}
.payWay .payWay-balance .pW-balanceBal{float:left;  padding-top:13px; padding-left:15px; font-size:14px;}
.payWay .payWay-balance .pW-balanceBal input{float:left; margin-right:5px; margin-top:2px;}
.payWay .payWay-balance .pW-balanceBal span{color:#ea5300; font-size:16px; font-weight:bold; padding:0px 5px;}
.payWay .payWay-balance .pW-pay,.payWay .payWay-choose .pW-pay{float:right; float:right; font-size:14px; line-height:40px;}
.payWay .payWay-balance .pW-pay span,.payWay .payWay-choose .pW-pay span{color:#ea5300; font-size:16px; font-weight:bold; padding:0px 5px;}

.payWay .payWay-choose{background-color:#eff1f3; padding:15px; height:150px;}
.payWay .payWay-choose .pW-Radio{float:left; height:150px;}
.payWay .payWay-choose .pW-Radio ul li{display:block; height:40px;}
.payWay .payWay-choose .pW-Radio ul li input{float:left; margin-top:15px; margin-right:15px;}
.payWay .payWay-choose .pW-Radio ul li span{float:left; width:138px; height:38px; border:1px solid #e7e7f0;}
.payWay .payWay-button{padding:30px 30px 0px; height:30px;}
.payWay .payWay-button .pW-Btn{float:left; width:130px; height:30px; background:#ea5300; color:#fff; border-radius:3px; text-align:center; line-height:30px; font-size:14px; font-weight:bold; font-family:"微软雅黑", "新宋体"; margin-right:25px;}
.payWay .payWay-button .pW-treaty{float:left; height:30px; line-height:30px;}
.payWay .payWay-button .pW-treaty input{float:left; margin-top:9px; margin-right:5px;}
.payWay .payWay-button .pW-treaty a{color:#4798f2;}

.paySucceed{height:500px; padding-top:200px;}
.paySucceed .paySucceed-image{display:block; height:100px; background:url(../img/popularize/paySucceed.png) no-repeat center;}
.paySucceed .paySucceed-text{display:block; height:100px; line-height:100px; text-align:center;; font-size:36px; font-family:"微软雅黑", "新宋体"; color:#0069f9;}
.paySucceed .paySucceed-a{display:block; height:43px; width:258px; border:1px solid #e2e2e4; margin:auto; line-height:43px; text-align:center;
	background-image: -moz-linear-gradient(top, #fff, #edf2f7); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #edf2f7)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#edf2f7', GradientType='0'); /* IE*/
}
.paySucceed .paySucceed-a a{color:#0069f9;}



















