

/* »áÔ±×¢²á */
.register .center-title{background:url(../img/icon003.png) no-repeat left -130px;}
.register .register-text{height:30px; font-size:14px; font-family:"Î¢ÈíÑÅºÚ", "ÐÂËÎÌå"; color:#3b3a3f; border-bottom:1px solid #e2e6ef;}
.register .register-text a{color:#0073dd; padding:0px 5px;}
.register .register-text a:hover{text-decoration:underline;}
.register .register-form{margin-top:35px;}
.register .register-form tr{display:block; height:35px; margin-bottom:25px;}
.register .register-form tr td{ padding-bottom:25px; }
.register .register-form tr .register-fName{height:35px; width:150px; text-align:right; font-size:14px; padding-right:20px; color:#676a75;}
.register .register-form tr td input{border:none; height:23px; width:223px; padding:5px; line-height:23px; border:1px solid #dbdbdd; border-radius:3px; color:#676a75; margin-right:20px; float:left;}
.register .register-form tr td span{color:#939393; padding-left:8px; position:relative; float:left; margin-top:10px; *margin-top:12px; }
.register .register-form tr td span b{color:#f75a53; font-size:12px; position:absolute; left:0px; top:3px; *top:0px; font-family:Tahoma;}
.register .register-form tr td a.register-fCode{color:#0073dd; float:left; margin-top:10px; *margin-top:12px;}
.register .register-form tr td a.register-fCode:hover{text-decoration:underline;}
.register .register-form tr td a.register-fButton{display:block; width:160px; height:42px; background:url(../img/button001.png) no-repeat; text-align:center; line-height:42px; color:#fff; font-size:18px; font-family:"Î¢ÈíÑÅºÚ", "ÐÂËÎÌå";}
.register .register-form tr td .e-prompt{ color:#0073dd; font-style:normal; display:none; }
.register .register-form tr td .e-judge{ background:url(../img/prompt.png) no-repeat; height:12px; padding-left:18px; font-style:normal; color:#48b574; float:left; margin-top:10px; }
.register .register-form tr td .e-wrong{ background-position:0 -20px; *background-position:0 -20px; color:#f75a53; }
#code{ height:auto; display:none; }






















