

/* CSS重置 */
html,body{height:100%; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,textarea,p,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
img{border:0; display:block;}
ol,ul{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%;}
body{font-size:12px; background:#e7e9ea;}
a{text-decoration:none; outline:none; }

/* 头部 */
.header{height:100px; width:100%; background:#3b3a3f; filter:alpha(opacity=70); /*IE滤镜，透明度50%*/ -moz-opacity:0.7; /*Firefox私有，透明度50%*/ opacity:0.7;/*其他，透明度50%*/}
.head{width:980px; height:100px; position:absolute; top:0px; left:50%; margin-left:-490px;}
.logo{width:300px; height:100px; float:left;}
.logo a{display:block; width:300px; height:100px; background:url(../img/logo1.png) no-repeat;}
.nav{float:left; height:100px; padding-left:40px;}
.nav ul li{float:left; }
.nav ul li a{display:block; padding:50px 15px 15px; font-size:14px; color:#fff;}
.nav ul li a:hover,.nav ul li a.n-act{background:#353439; border-bottom:2px solid #ea5300;}
.phone{width:130px; height:70px; float:right; padding-top:25px;}
.phone .p-name{display:block; height:20px; line-height:20px; color:#fff; padding-left:20px; background:url(../img/icon001.png) no-repeat left top;}
.phone .p-number{display:block; height:30px; line-height:30px; color:#fff; font-size:20px; font-family:Arial; font-weight:bold; overflow:hidden;}

.center{width:860px; height:auto !important; height:700px; min-height:700px; padding:35px 60px;  background:#fff; margin:20px auto; border-radius:10px; box-shadow:0px 0px 5px #c0c1c3;}
.center .center-title{height:65px; padding-left:85px; width:775px;  margin-bottom:45px;}
.center .center-title span{display:block; font-size:24px; color:#3b3a3f; font-family:"宋体";}
.center .center-title span.center-tEng{color:#e1e1e1; font-family:Georgia, "Times New Roman", Times, serif;}

.footer{line-height:30px; padding:20px 0px; width:100%; text-align:center; color:#828999;}
.footer a{color:#828999;}
.footer a:hover{text-decoration:underline;}




