/*-------------------------------------------------------------------------IPAD模板--------------------------------------------------------------------*/
.template{ margin:10px 51px 0; }
.template-lists li{ width:276px; float:left; margin:40px 40px 40px 0; }
.template-lists li.li-right{ margin-right:0; }
.template-lists li.li-line{ width:100%; height:2px; margin:0; background:url(../img/template/line.jpg) repeat-x; }
.template-lists li .stencilbg{ background:url(../img/template/ipad.png) no-repeat; width:276px; height:204px; overflow:hidden; }
.template-lists li .stencilbg img{ margin:26px 0 0 36px; cursor:pointer; }
.template-lists li p{ text-align:center; }
.template-lists li p .s-title{ color:#4a4d54; font-size:14px; }
.template-lists li .s-money{ background:url(../img/popularize/navPic.png) no-repeat left -1077px; _background-position:left -1076px; display:inline-block; overflow:hidden; float:left; height:26px; line-height:26px; padding-left:9px; color:#828999; font-size:15px; font-family:Verdana, Geneva, sans-serif; margin:5px  0 0 95px; }
.template-lists li .s-money em{ background:url(../img/popularize/navPic.png) no-repeat right -1077px; _background-position:right -1076px; display:block; overflow:hidden; float:left; padding-right:10px; }
.template-lists a.act .s-money{ background-position:left -1122px; }
.template-lists a.act .s-money em{ background-position:right -1122px; color:#fff; }
.template-lists li a.act .stencilbg{ background-image:url(../img/template/ipadhover.png); }

/*-------------------------------------------------------------------------PC模板--------------------------------------------------------------------*/
.pc-lists li .stencilbg{ background-image:url(../img/template/pc.png); height:210px; }
.pc-lists li .stencilbg img{ margin:22px 0 0 23px; }
.pc-lists li a.act .stencilbg{ background-image:url(../img/template/pchover.png); }

/*-------------------------------------------------------------------------IPHONE模板--------------------------------------------------------------------*/
.iphone-lists li{ width:204px; margin:20px 30px 30px 0; }
.iphone-lists li .stencilbg{ background-image:url(../img/template/iphone.png); width:204px; height:387px; }
.iphone-lists li .stencilbg img{ margin:68px 0 0 32px; }
.iphone-lists li a.act .stencilbg{ background-image:url(../img/template/iphonehover.png); }
.iphone-lists li .s-money{ margin-left:60px; }

/*-------------------------------------------------------------------------模板包--------------------------------------------------------------------*/
.stencil{ margin:0 10px; }
.stencil .template-lists li{ width:222px; margin:43px 0 5px 20px; _margin-left:14px; }
.stencil .template-lists li .rim-img{ border:1px solid #F2F2F3; }
.stencil .template-lists li .rim-img img{ border:1px solid #d2d3d5; }
.stencil .template-lists li p .s-title{ margin-top:7px; display:inline-block; _margin-top:9px; }
.stencil .template-lists li .s-money{ margin-left:68px; }
.stencil .template-lists li a.act .rim-img{ border-color:#ea5300; }
.stencil .template-lists li a.act .rim-img img{ border-color:#ea5300; }